/* make container smaller to mimic the modal idea
but all-in-all it is just a new component, could be fullscreen or halfscreen
*/

/* .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 88, 88, 0.774);
    z-index: 1000;
    cursor: not-allowed;
  }
  

.amodal {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border: 4px outset rgb(10, 26, 209);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    overflow: auto;
    background-color: rgb(69, 22, 112);
    color: white;
    padding: 20px;
    z-index: 1001;
    cursor: pointer;
} */

.form-container {
    /* align-items: center; */
    width: 90%;
    /* very specific for my phone */
    /* width:  300px; */
    margin: auto;
    border: 5px groove lightgrey;
<<<<<<< HEAD
    padding: 4px;
=======
    padding: 7px;
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
    /* flex-basis: 70%; */
}


.responsive-form {
    display: flex;
    
    /* align grid content item elements to the right of the container */
    
    margin: auto;
}

.textline {
    border: 2px dashed red;
    /* flex-basis: 100%; */
    font-size: 1.2em;
    color: #333;
    margin: 3px;
    padding: 3px;
}

.button-bar {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
<<<<<<< HEAD
    height: 3.3em;
=======
    height: 4em;
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
    align-items: stretch;
    /* align-content: center; */
    /* text-align: center; */
    vertical-align: auto;
}

.better-button {
    flex-basis: 50%;
    /* width: 40%; */
    
    min-width: 45%;
    background-color: rgb(83, 142, 142);
<<<<<<< HEAD
    border: 7px ridge darkslategray;
=======
    border: 9px ridge darkslategray;
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
    border-radius: 10px;
    margin: 2px 1px;
    flex-grow: 1;
    flex-shrink: 1;
    /* margin: 0px;     */
}


.entry-row {
    /* display: grid; */
    /* note last columns is empty spans to center the fucking thing */
    /* grid-template-columns: auto auto; */
    /* gap: 5px 8px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
<<<<<<< HEAD
    padding: 4px;
=======
    padding: 5px;
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
    max-width: 100%;
    min-width: 60%;
    /* width: 200px; */
    border: 1px dashed red;
    /* width: 250px; */
    text-align: right;
}s

.inputbox {
    /* margin: 4px; */
    /* min-width: 70px; */
    width: 140px;
    min-width: 60px;
    max-width: 200px;
}

label.inputbox {
    text-align: right;
    justify-self: right;
    width: 150px;
    flex-shrink: 3;
}

input.inputbox {
    text-align: left;
    width: 150px;
    flex-shrink: 1;
    justify-self: left;
}