.container {
    border: 3px ridge purple;
    width: 96%;
    padding: 2px;
    margin: auto;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    padding: 1px;
    table-layout: fixed;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* table-layout: fixed; */
}


<<<<<<< HEAD
=======

>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
th {
    border: 1px solid black;
    text-align: center;

}

td {
    border: 1px solid black;
<<<<<<< HEAD
    padding: 4px auto;
=======
    padding: 10px auto;
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
    text-align: center;

}

<<<<<<< HEAD

=======
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
.edit-row {
    background: lightgray;
}

.edit-row:hover {
    background: rgb(46, 58, 25);
    color: white;
    cursor: pointer;
}

<<<<<<< HEAD
.date-column {
    width: 150px;
    padding: 5px;
}

.tags-column {
    width: auto;
    padding: 5px;
}

.amount-column {
    width: 100px;
    padding: 5px;
}



td.date-column {
    text-align: left;
}

td.tags-column {
    text-align: center;
}

td.amount-column {
    text-align: right;
}

=======
table td:nth-child(1) {
    text-align: left;
    width: 200px;
}

table td:nth-child(2) {
    text-align: center;
    width: auto;
}

table td:nth-child(3) {
    text-align: right;
    width: 100px
}
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
