.container {
    display: flex;
    flex-flow: row wrap;

    border: 3px ridge purple;
    width: 96%;
    padding: 2px;
    margin: auto;
    font-size: 0.9rem;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    border: 2px solid black;
    padding: 1px;
    table-layout: fixed;
    /* table-layout: fixed; */
}


th {
    border: 2px solid rgb(123, 23, 23);
    text-align: center;

}

td {
    border: 1px solid black;
    padding: 4px auto;
    text-align: center;

}

.edit-row {
    background: lightgray;
}

.edit-row:hover {
    background: rgb(46, 58, 25);
    color: white;
    cursor: pointer;
}

.date-column {
    /* font-size: 0.9rem; */
    font-weight: normal;
    font-weight: bold;
    width: 90px;
    padding: 5px;
}

.tags-column {
    /* font-size: 1.1rem; */
    font-weight: bold;
    width: auto;
    padding: 5px;
    white-space-collapse: collapse;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount-column {
    font-weight: bold;
    width: 70px;
    padding: 5px;
}



td.date-column {
    text-align: left;
}

td.tags-column {
    text-align: center;
}

td.amount-column {
    text-align: right;
}

