<!-- <ng-container [ngComnponentOutlet]="app-amodal"></ng-container> -->

<div class="container">
    <table>
        <th>Date</th>
        <th>Tags</th>
        <th>Amount</th>

        @for (entry of displayedLedger; track entry.id) {
        <tr (click)="editEntry(entry.id)" class="edit-row">
            <td>{{ entry.date | date:"mediumDate" }}</td>
            <td>{{ entry.tags.toString() }}</td>
            <td>{{ entry.amount }}</td>
        </tr>
        <!-- <ng-container [ngComponentOutlet]="editComponent" [ngComponentOutletInputs]="{entryDetails: currentEntry}"></ng-container> -->
        }
        @empty {
        <tr class="edit-row">
            <td colspan="3">Listingy fucka, you haven't done nothing with your moneys</td>
        </tr>
        }
    </table>
    <div><h3>debug data:</h3>
    <p>{{ displayedLedger | json }}</p></div>
</div>

<h2>Just editing component</h2>
<app-edit-transaction *ngIf="editingModal" [itemId]="this.currentEntry.id" (closeForm)="editingModal = false" (editSaved)="onSave($event)"></app-edit-transaction>
<h3>editing seems to be too true</h3>
<!-- <ng-container [ngComponentOutlet]="editComponent" [ngComponentOutletInputs]="{entryDetails: currentEntry}"></ng-container>] -->
<!-- <app-amodal>
    <div>
        <h3>theoretical projected content</h3>
        <app-edit-transaction #editComponentVar [entryDetails]="currentEntry" (closeForm)="editingModal = false" (updatedEntry)="onSave($event)"></app-edit-transaction>
    </div>
</app-amodal> -->