/* You can add global styles to this file, and also import other style files */
:host {
  font-size: 16px;
}

.container {
  /* align-items: center; */
  width: 90%;
  /* very specific for my phone */
  /* width:  300px; */
  margin: auto;
  border: 3px groove lightgrey;
  padding: 7px;
  /* flex-basis: 70%; */
}


@media screen and (max-width: 600px) {
  .container {
    /* align-items: center; */
    width: 85%;
    /* very specific for my phone */
    /* width:  300px; */
    margin: auto;
    border: 2px groove lightgrey;
    padding: 8px;
    /* flex-basis: 70%; */
  }
}

/* DARK MODE */
.dark-mode {
  background-color: black;
  color: rgb(161, 161, 161);
}

.dark-mode .textline {
  color: white;
}

.dark-mode .better-button {
  background-color: rgb(37, 67, 67);
  border: 9px ridge rgb(0, 0, 0);
}

.dark-mode .better-button:hover {
  background-color: rgb(0, 0, 0);
  border: 9px ridge rgb(37, 67, 67);
  color: rgb(163, 186, 186);
}

.dark-mode .better-button:active {
  background-color: rgb(0, 0, 0);
  border: 9px ridge rgb(37, 67, 67);
  color: rgb(163, 186, 186);
}

.dark-mode .better-button.nosign-text {
  background-color: rgb(37, 67, 67);
  border: 9px ridge rgb(0, 0, 0);
}

.dark-mode .better-button.nosign-text:hover {
  background-color: rgb(0, 0, 0);
  border: 9px ridge rgb(37, 67, 67);
  color: rgb(163, 186, 186);
}

.dark-mode .better-button.nosign-text:active {
  background-color: rgb(0, 0, 0);
  border: 9px ridge rgb(37, 67, 67);
}


.content-row {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* flex-basis: 50%; */
  margin: auto;
  width: 95%;
  border: 3px dashed green;
  padding: 2px;
  /* margin: 10px;  */
}

.textline {
  border: 2px dashed red;
  /* flex-basis: 100%; */
  font-size: 1.2em;
  color: #333;
  margin: 3px;
  padding: 3px;
}

.button-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4.4em;
  align-items: normal;
  padding: 0px;
  width: 100%;
  /* align-content: center; */
  /* text-align: center; */
}

.responsive-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.link-icon {
  color: white;
  /* background:rgb(37, 67, 67); */
}

/* .settings-form {
    display:
    grid-template-columns: 50px 200px 50px; */
/* flex-direction: row; */
/* justify-content: space-around;    */
/* align-items: end; */
/* width: 95%  ; */
/* gap: 6px; */
/* }  */

.entry-row {
  display: flex;
  flex-flow: row wrap;
  /* note last columns is empty spans to center the fucking thing */
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  padding: 7px;
  border: 1px dashed red;
  /* width: 250px; */
  text-align: right;
}

label {
  align-self: flex-end;
  text-align: right;
  width: 100px;
}

.inputbox {
  align-self: flex-start;
  text-align: right;
  width: 100px;
}

button:hover {
  cursor: pointer;
}