<div class="dark-mode">
  <div class="container">
    <!-- Inserting the SVG back icon -->
    <!-- <div class="top-buttons">
      <span>
        <button onclick="window.history.back()" id="backButton" type="button">
          <img src="/img/back.svg" alt="back" width="24" />
        </button>
      </span>
      <span id="status-bar"></span>
      <span id="right-side-padding"></span>
    </div> -->

    <div class="content-row">
      <div class="textline">Welcome to settings</div>

      <form
        class="responsive-form"
        [formGroup]="settingsForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="entry-row">
          <label for="balance">Balance: </label>
          <input
            class="inputbox"
            id="balance"
            type="number"
            formControlName="balance"
            inputmode="numeric"
          />
        </div>
        <div class="entry-row">
          <label for="dailyAmount">Daily Change: </label>
          <input
            class="inputbox"
            id="dailyAmount"
            type="number"
            formControlName="dailyAmount"
            inputmode="numeric"
          />
        </div>
        <div class="entry-row">
          <label for="incAmount">Increase Amount: </label>
          <input
            class="inputbox"
            id="incAmount"
            type="number"
            formControlName="incAmount"
          />
        </div>
        <div class="entry-row">
          <label for="decAmount">Decrease Amount: </label>
          <input
            class="inputbox"
            id="decAmount"
            type="number"
            formControlName="decAmount"
          />
        </div>
        <div class="entry-row">
          <label for="lastUpdateDate">Last Date to Save: </label>
          <input
            class="inputbox"
            id="lastUpdateDate"
            type="date"
            formControlName="lastUpdated"a
          />
        </div>
        <div class="button-bar">
          <button onclick="window.history.back()" id="backButton" type="button" class="better-button">
            Back
          </button>
          <button type="submit" class="better-button">
            Save Yourself
          </button>

        </div>
      </form>
    </div>

    <h3 class="content-row nosign-text">Fucked up? Revert to backup</h3>
    <div class="button-bar">
      <button class="better-button nosign-text" id="backupButton" type="button">
        Load Backup
      </button>
    </div>
  </div>
</div>
