.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(88, 88, 88, 0.774);
    z-index: 1000;
  }
  

.amodal {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border: 4px outset rgb(10, 26, 209);
    box-shadow: 0 0 50px rgb(0, 0, 0);
    overflow-x: clip;    
    background-color: rgb(69, 22, 112);
    color: white;
<<<<<<< HEAD
    padding: 14px;
=======
    padding: 20px;
>>>>>>> 05e3df9d9d96f0b2d411035bca8304ef7e801caf
    z-index: 1001;
}