<!-- <body class="container"> -->
<div class="content-row">
  <div class="textline">
    <label><strong>Balance</strong></label>
  </div>
  <div class="textline">
    <label id="balnace">{{ balance }}</label>
    </div>
    <div>
&nbsp;
    @if (beanService.runningTotal != 0){
      <label><em>{{ beanService.runningTotal }}</em></label>
    }
&nbsp;
  </div>
</div>
<div class="button-bar">
  <button class="better-button sign-text" id="plus" type="button" (click)="onIncrement()">+</button>
  <button class="better-button sign-text" id="minus" type="button" (click)="onDecrement()">-</button>
</div>
<hr />
<!-- <div>
  <label id="action">Idle</label>
  <br />
  <label id="lastDate">Last Date</label>
</div> -->
<!-- <table class="ledgercontainer" id="ledgerhistory">
  <thead class="theaders">
    <th>Date</th>
    <th>Tags</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <!-- <span id="date"></span>  
        <span id="tags"></span>
        <span id="Amount"></span> -->
<!--   </tbody>
</table> -->

<!-- Trigger button -->

<!-- <button type="button" id="testButton" (click)="onTestButton()">Just test</button> -->

<!-- <div class="card-header">
          <h4 class="ion-list-header" color="dark">
            Last Three Transactions
          </h4>
          <ul>
            <li>Test LIst 1</li>
            <li>Test LIst 2</li>
            <li>Test LIst 3</li>
          </ul>
     -->

<!-- <h3 class="content-row nosign-text">Testing stuff</h3>
<div class="button-bar">
  <button class="better-button nosign-text" id="save" type="button" (click)="onSaveButton()">
    Save
  </button>
  <button class="better-button nosign-text" id="load" type="button" (click)="onLoadButton()">
    Load
  </button>
</div> -->
<hr />

<h3>Last bumch of actions in log:</h3>

  <!-- <thead class="theaders">
<!-- Trigger button -->